.square {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  border: none;
  outline: none;
}

.square--white {
  background-color: #eaf0ce;
}

.square--dark {
  background-color: #bbbe64;
}

@media (max-width: 768px) {
  .square {
    width: 34px;
    height: 34px;

    background-size: 34px;
  }
}